.appoint{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -40px;
    /* padding-bottom: 2px; */
    z-index: 10;
    background: #d8d8db
    
}
.wrapper {
  h3 {
color: #fff;
/* font-size: 9; */
/* text-transform: uppercase; */
/* font-weight: 700; */
font-family: "Josefin Sans", sans-serif;
background: linear-gradient(to left,#262a2e 50%, #35a3f1 30%);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;

-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclipReverse 1s normal infinite;
display: inline-block;
}
}

@keyframes textclipReverse {
  0% {
      background-position: 100% 0%;
  }
  100% {
      background-position: 0% 0%;
  }
}

  .tag2{
    background-color: #d8d8db;
  }

  .box{
    background-color:#e1dbec;
    height: 100px;
  }
  
  .img{
    @media (max-width: 575.98px) { height: 100px;}
   
  }