/* main{
    background-image: url("/img/contactus.jpg");
    width: 100%;
    height: 300px;
    position: relative;
} */
.contact{
    h4{font-weight: 300;}
    h1{font-weight: 700;}
    position: absolute;
    left: 350px;
    top: 150px;
}
 .partner{
    img:hover{
        opacity: .5;
    }
 }