
img:hover{
    transform: scale(1.05);
    opacity: 0.5;
}


.appoint{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -40px;
    /* padding-bottom: 2px; */
    z-index: 10;
    background: #d8d8db
    
}

