.bgimg{
    background-image: url("/img/slider1.jpg");
    width: 100%;
    background-size: cover;
    height: fit-content;
    
}



/* .whychoose{
    position: relative;
    background-color: black;
    height: 600px;
    width: 100%;
    opacity: .8;
    img{
        position: absolute;
        left: 60%;
        top: 20%;
         height: 50%;
        width: 35%;
         }

         h1{
            color: gray;
            position:absolute;
            top:20%;
            left: 10%;
           }
       span{ color: skyblue;}
       
    h2{
        font-weight: 200;
        color: white;
        position: absolute;
        left: 10%;
        top: 35%;
    }
    p{ font-weight: 100;
        color: white;
        position: absolute;
        left: 10%;
        top: 60%;
  } 
    
    
    
} */
.oreo>img{
    height: 90px;
    width: 90px;
}
.Appointment {
   display: flexbox;
}

/* .homeservice{
    background-color:#f0f4f4; */

img {
    max-width: 100%;
    border-radius: 1px;

    vertical-align: middle;
    border-style: none;
}

  *,::after, ::before {
    box-sizing: border-box;
}
 *, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
    /* unicode-bidi: isolate; */

} 
.section{ 

    a{
       
        text-decoration: none;
        color: #f96332;
    }
    
}

.container{
    h2{
        padding-top: 15px;
    }
}
.appoint{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -40px;
    /* padding-bottom: 2px; */
    z-index: 10;
    background: #d8d8db
    
}
