/* .bgimg{
    background-image: url("/img/slider1.jpg");
    width: 100%;
    background-size: cover;
    height: fit-content;
    
} */



/* .whychoose{
    position: relative;
    background-color: black;
    height: 600px;
    width: 100%;
    opacity: .8;
    img{
        position: absolute;
        left: 60%;
        top: 20%;
         height: 50%;
        width: 35%;
         }

         h1{
            color: gray;
            position:absolute;
            top:20%;
            left: 10%;
           }
       span{ color: skyblue;}
       
    h2{
        font-weight: 200;
        color: white;
        position: absolute;
        left: 10%;
        top: 35%;
    }
    p{ font-weight: 100;
        color: white;
        position: absolute;
        left: 10%;
        top: 60%;
  } 
    
    
    
} */
.oreo>img{
    height: 90px;
    width: 90px;
}
.Appointment {
   display: flexbox;
}

/* .homeservice{
    background-color:#f0f4f4; */

img {
    max-width: 100%;
    border-radius: 1px;

    vertical-align: middle;
    border-style: none;
}

  *,::after, ::before {
    box-sizing: border-box;
}
 *, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
    /* unicode-bidi: isolate; */

} 
.section{ 

    a{
       
        text-decoration: none;
        color: #f96332;
    }
    
}

.container{
    h2{
        padding-top: 15px;
    }
}
.appoint{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -40px;
    /* padding-bottom: 2px; */
    z-index: 10;
    background: #d8d8db
    
}
.wrapper {
    h3 {
  color: #fff;
  /* font-size: 9; */
  /* text-transform: uppercase; */
  /* font-weight: 700; */
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to left,#095fab 10%, #25abe8 50%, #c4c9c4 30%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}
}

@keyframes textclip {
to {
  background-position: 200% center;
}
}

.slider_form {
    position: relative;
    padding: 20px 5px;
    background: #c2c1c1;
    border-radius: .25rem;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.07);
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

*, ::after, ::before {
    box-sizing: border-box;
}
div {
  unicode-bidi: isolate;
}

.booknow{
    margin-top: -140px; 
    h3 {
        color: #fff;
        /* font-size: 9; */
        /* text-transform: uppercase; */
        /* font-weight: 700; */
        font-family: "Josefin Sans", sans-serif;
        background: linear-gradient(to right,#9309ab 10%, #f9f6f9 50%, #1042f8 30% );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        /* text-fill-color: transparent; */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /* direction: left; */
        animation: textclip 2s linear infinite;
        display: inline-block;
      }  
}
