.bgimg{
    background-image: url("/img/slider1.jpg");
    width: 100%;
    background-size: cover;
    height: fit-content;
    
}
.oreo>img{
    height: 90px;
    width: 90px;
}
.page{
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: red;
    }
}