span{
    font: 26px;
}
h2{
    color: #757575;
    font: 26px;
}
.men{
    padding: 25px;
    font-size: 22px;
    background-color: rgb(174, 245, 222);
}
.womens{
    padding: 25px;
    font-size: 22px;
    background-color: rgb(232, 185, 193);
}
.kids{
    padding: 25px;
    font-size: 22px;
    background-color: rgba(81, 78, 78, 0.112);
}
li{
    font: 11px;
}

button{
   color: #fff;
   background-color:#0d6efd;
   border-color:#0d6efd ;
   padding: 2px;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
}

main{
    h3{
        position: absolute;
        left: 10%;
        top: 35%;
        font-weight: 400;
    }
}
.appoint{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -40px;
    /* padding-bottom: 2px; */
    z-index: 10;
    background: #d8d8db
    
}

.wrapper {
    h3 {
  color: #fff;
  /* font-size: 9; */
  /* text-transform: uppercase; */
  /* font-weight: 700; */
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to right,#095fab 10%, #095fab 50%, #c4c9c4 30% );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }